
main h1 {
  text-align:center;
  font-size: xx-large;
  align-self:center;
  margin-top: 1.2em;
  color:white;
}

form {
  display:flex;
  flex-direction:column;
  text-align:center;
  margin-top:2em;
  color:white;
  align-items:center;
}

field-set label{
  margin-left:2em;
  color:white;
}


field-set {
  display: flex;
  justify-content: center;
  gap: 3px;  
  border:none;
}

span {
  display:flex;
  gap:10vw;
}

label {
  margin-top:2em;
}


textarea {
  height: 9em;
  width: 31vw;
  border-radius:10px;
  padding: 1em;
  outline:none;
  background-color: rgb(232, 232, 232);
  border: 1px solid black;
}


input {
  border-radius: 10px;
  width: 14.6vw;
  height: 1.6em;
  padding: 0.4em;
  outline:none;
  border:1px solid black;
  background-color: rgb(232, 232, 232);

}

form input:last-child {
  background-color: var(--offwhite);
  transition: all ease-out 10ms;
}

form input:last-child:hover {
  background-color: lightgrey;
}

