main {
  display: block;
  flex-direction: column;

}

main h1 {
  text-align:center;
  font-size: xx-large;
  align-self:center;
  margin-top: 1.2em;
  color:white;
}

form {
  display:flex;
  flex-direction:column;
  text-align:center;
  margin-top:2em;
  color:white;
  align-items:center;
  justify-self:center; 
}

