@import url(vars.css);

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font), sans-serif,serif;
}

body {
  background-color: var(--background-color);
}

.header {
  background-color: var(--offwhite);
  display: flex;
  justify-content: space-between;
  align-items:center;
  border-bottom:solid black 0.75px;
  height: 4em;
}

.header h1>a {
  font-size: x-large;
  justify-self:center;
  margin-left:.5em;
  text-decoration: none;
  color:black;  
}



.navigation_bar {
  margin-right: 1em;
  overflow: hidden;
  background-color: var(--background-color);
  font-family: var(--main-font);
  z-index: 1;
  
}


.navigation_bar a {
  font-size: 1em;
  text-align:center;
  padding:1em 0.5em;
  text-decoration: none;
}

.dropdown {
  overflow:hidden;
}

.dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 1.7em 3em;
  background-color: var(--background-color);
  font-family: var(--main-font); 
}

.navigation_bar li a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  
}

ul li {
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

ul li a {
  color: black;
  text-decoration: none;
  display: block;
}

a[href="/index.html"] {
  margin-top:310%;
}

ul li a a:hover {
  background-color: #ddd;
  align-self:flex-end;
}

ul li a:hover {
  background-color: rgb(198, 198, 198);
}

.navigation_bar:hover ul li {
  display: block;
}


footer {
  display:flex;
  flex-direction:column;
  gap:2em;
  align-items:center;
  background-color:white;
  padding:2em;
  margin-top:5em;
}
