@import url(vars.css);

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items:center;
  border-bottom:solid black 0.75px;
  height: 4em;
}

.header h1>a {
  margin-left:.5em;
  text-decoration: none;
  color:black; 
}

#navigation_bar{
  justify-content: flex-end;
  margin-right: 1em;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2em;
  font-size: large; 
}

.current>a {
  color:black;
}

ul li,a {
  list-style-type: none;
  text-decoration: none;
  color:rgb(152, 152, 152);
}

#headcontact {
  position: relative;
  height: 3em;
  width: 9em;
  background-color: #0D99FF; 
  border-radius: 10px;
  border: none;
  transition: all 100ms ease-out;
  font-weight: bold;
  color:white;
}

#headcontact:hover, #headcontact:focus {
  cursor:pointer;
  background-color: #6fb6e9;
}

/* To animate the tabs */

a[href="/index.html"] {
  transition: all 150ms ease-out;
}
a[href="/index.html"]:hover {
  color:#000000;
}

a[href="/experience.html"] {
  transition: all 150ms ease-out;
}
a[href="/experience.html"]:hover {
  color:#000000;
}

a[href="/projects.html"] {
  transition: all 150ms ease-out;
}
a[href="/projects.html"]:hover {
  color:#000000;
}