@import url(vars.css);

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font), sans-serif,serif;
}

body {
  background-color: var(--background-color);
}

.header {
  background-color: var(--offwhite);
  display: flex;
  justify-content:space-between;

  align-items:center;
  border-bottom:solid var(--textcolor) 0.75px;
  height: 5em;
}

.header h1>a {
  margin-left:.5em;
  text-decoration: none;
  color: var(--textcolor);
  font-size: 2.5vw;  
}

ul {
  display: flex;
  align-items: center;
  gap: 2em;
  font-size: 1.3vw;
}


.navigation_bar {
  justify-content: flex-end;
  margin-right: 1em;
}

.dropbtn {
  display: none;
}


.current>a {
  color: var(--textcolor);
}

ul li,a {
  list-style-type: none;
  text-decoration: none;
  color:rgb(152, 152, 152);
}


a:has(+img) {
  display:flex;
}


ul:last-child li img {
  height: 2.6vw;
}


footer {
  display:flex;
  flex-direction:column;
  gap:2em;
  align-items:center;
  background-color: var(--offwhite);
  padding:2em;
  margin-top:5em;
  color: var(--textcolor);
}


/* To animate the tabs */

ul li a {
  transition: all 100ms ease-out;
}

ul li a:hover {
  color: var(--textcolor);
}

.toggle {
  position: relative;
}

.toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  /* position: relative; */
  display: block;
  cursor: pointer;
  background-color: var(--background-color);
  transition: 0.3s;
  width: 4em;
  height: 1.5em;
  border-radius: 25px;
}


.slider:before {
  content:'';
  position: absolute;
  height: 1.25em;
  width: 1.25em;
  background-color: white;
  transition: .3s;
  border-radius: 100px;
  top: .13em;
  left: .15em;
}

input:checked + .slider:before {
  transform: translateX(2.5em);
}

input:checked + .slider {
  background-color: #1f4f7a;
 
}