@import url(vars.css);

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font), sans-serif,serif;
}

body {
  background-color: var(--background-color);
}

.header {
  background-color: var(--offwhite);
  display: flex;
  justify-content: space-between;
  align-items:center;
  border-bottom:solid black 0.75px;
  height: 5em;
}

.header h1>a {
  margin-left:.5em;
  text-decoration: none;
  color:black;
  font-size: 2.5vw;  
}

ul {
  display: flex;
  align-items: center;
  gap: 2em;
  font-size: 1.3vw;
}


.navigation_bar {
  justify-content: flex-end;
  margin-right: 1em;
}

.dropbtn {
  display: none;
}


.current>a {
  color:black;
}

ul li,a {
  list-style-type: none;
  text-decoration: none;
  color:rgb(152, 152, 152);
}

a:has(+img) {
  display:flex;
}


ul:last-child li img {
  height: 2.6vw;
}


footer {
  display:flex;
  flex-direction:column;
  gap:2em;
  align-items:center;
  background-color: var(--offwhite);
  padding:2em;
  margin-top:5em;
}


/* To animate the tabs */

ul li a {
  transition: all 100ms ease-out;
}

ul li a:hover {
  color: black;
}

