@import url(vars.css);



#intro {
  margin-top: 2em;
  margin-left: 3em;
  display: flex;
  background-color: var(--offwhite);
  border-radius: 3px;
  height: 25em;
}


.introinfo {
  display: flex;
  flex-direction: column;
  font-size:large;
  align-self:center;
  width:100vw;
}

.introinfo b {
  position:relative;
  font-size:xx-large ; 
  font-family:europabold;
}

.introinfo em{
  position: relative;
  align-self: center;
}

#contact {
  
  object-fit: contain;
  align-self: center;
  height: 4em;
  width: 15em;
  background-color: #0D99FF; 
  border-radius: 10px;
  border: none;
  transition: all 100ms ease-out;
  color: white;
  font-weight: bold;
}

#contact:hover, #contact:focus {
  cursor:pointer;
}

#intro img {
  position:relative;
  align-self:center;
  margin-right:2em;
  order:-1;
  height: 40vh;
  border-radius: 10em;
  object-fit:contain;
  margin-left:3em; 
  
}

.aboutme {
  display: flex;

}


table {
  align-self:center;
  text-align: left;
  margin-right:2em;
}



th, td {
  vertical-align: middle;
}

svg {
  display: block; 
  height: 5vh; 
}

rect {
  width: 100%;
  height: 100%; 
  fill: var(--background-color);
}


.about_container {
  display: flex;
  flex-direction: column;
}

.about_container h2 {
  margin-top: 3em;
  margin-bottom:1em;
  font-size: xx-large;
  align-self: center;
}
.about_container p {
  background-color: var(--offwhite);
  color:rgb(0, 0, 0);
  align-self:center;
  font-size: large;
  line-height: 2;
  padding: 2em;
  margin: 0 2em;
  margin-bottom:5em;
  

}






