@import url(vars.css);



#intro {
  margin-top: 2em;
  display: flex;
  background-color: var(--offwhite);
  height: 25em;
  align-items: center;
  justify-content:space-between;
}


.introinfo {
  position:absolute;
  display: flex;
  flex-direction: column;
  font-size:small;
  margin-left: 20em;
  align-self:baseline;
  order:1;
  margin-right:1em;
  justify-self:center;
  margin-top: 8em; 
  
}


.introinfo em{
  position: relative;
  align-self: flex-end;
  font-size:small;
}

.introinfo b {
  font-size:x-large ; 
  font-family:europabold;
}

#contact {
  display:none;
}


#intro img {
  height: 35vh;
  border-radius: 10em;
  object-fit:contain;
  order:-1;
  margin-left:2em; 
}

.aboutme {
  display: flex;

}


table {
 
 height: 15%;
  width: 30%;
  text-align: left;
  align-self:flex-end;
  margin-bottom:4em;
 order:-1;
 margin-left:2em;
  
}



th, td {
  vertical-align: middle;
}

svg {
  display: block; 
  height: 20px; 
}

rect {
  width: 100%;
  height: 100%; 
  fill: var(--background-color);
}


.about_container {
  display: flex;
  flex-direction: column;
}

.about_container h2 {
  margin-top: 3em;
  margin-bottom:1em;
  font-size: xx-large;
  align-self: center;
}
.about_container p {
  background-color: var(--offwhite);
  color:rgb(0, 0, 0);
  align-self:center;
  font-size: large;
  line-height: 2;
  padding: 2em;
  margin: 0 2em;
  margin-bottom:5em;
  

}






